<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>barAABB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">barAABB</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clientes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="clientesDropdown">
                        <a class="dropdown-item" href="cadastro_cliente.html">Cadastrar</a>
                        <a class="dropdown-item" href="consulta_clientes.html">Consultar</a>
                        <a class="dropdown-item" href="#">Registrar fiado</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="cadastrarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastrar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="cadastrarDropdown">
                        <a class="dropdown-item" href="consulta_produtos.html">Produtos</a>
                        <a class="dropdown-item" href="consulta_categoria.html">Categorias</a>
                        <a class="dropdown-item" href="cadastro_usuario.html">Usuários</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="estoqueDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Estoque
                    </a>
                    <div class="dropdown-menu" aria-labelledby="estoqueDropdown">
                        <a href="" class="dropdown-item" href="#">Consulta</a>
                        <a href="" class="dropdown-item" href="#">Lista de compras</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="venda_diaria.html">Vendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre.html">Sobre</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="criar_conta.html">Criar conta</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container filtro-container">
        <div class="container btn-cont my-4">
            <button type="submit" class="btn btn-warning btn-block text-white"  onclick="window.location.href='cadastro_cliente.html'">Novo</button>
        </div>

        <div class="container my-4">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInput">Nome</label>
                        <input type="text" class="form-control mb-2" id="inlineFormInput">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-warning text-white mb-2">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <table id="table_clientes" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Data de Cadastro</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <footer class="footer mt-5">
        <div class="container">
            <p class="mb-0 text-center">
                &copy; 2023 barAABB. Todos os direitos reservados.
            </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="cliente.controller.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            popularTabelaClientes();
        });
    </script>
</body>

</html>