<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>barAABB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">barAABB</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clientes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="clientesDropdown">
                        <a class="dropdown-item" href="cadastro_cliente.html">Cadastrar</a>
                        <a class="dropdown-item" href="consulta_clientes.html">Consultar</a>
                        <a class="dropdown-item" href="#">Registrar fiado</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="cadastrarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastrar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="cadastrarDropdown">
                        <a class="dropdown-item" href="consulta_produtos.html">Produtos</a>
                        <a class="dropdown-item" href="consulta_categoria.html">Categorias</a>
                        <a class="dropdown-item" href="cadastro_usuario.html">Usuários</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="estoqueDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Estoque
                    </a>
                    <div class="dropdown-menu" aria-labelledby="estoqueDropdown">
                        <a href="" class="dropdown-item" href="#">Consulta</a>
                        <a href="" class="dropdown-item" href="#">Lista de compras</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="venda_diaria.html">Vendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre.html">Sobre</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="criar_conta.html">Criar conta</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 offset-lg-1">
            <div class="custom-container">
                <div class="divider">
                    <h2>Sobre Nossa Empresa</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id lacus sit amet magna varius fermentum.
                        Nullam posuere sem et mauris interdum, sed ullamcorper lorem hendrerit. Pellentesque vitae erat nec eros viverra vulputate.
                        Nullam non quam non purus gravida gravida. Phasellus at consequat nulla. Nam a neque mauris. Nunc ut pharetra tortor.
                    </p>
            
                    <h2>Nossa Missão</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor nisi id eleifend pretium. Duis pellentesque dictum arcu,
                        non sollicitudin turpis hendrerit vel. Curabitur scelerisque odio quis risus commodo, ac fringilla dolor aliquam.
                        Aliquam non nisi vel augue faucibus semper. In hac habitasse platea dictumst.
                    </p>
            
                    <h2>Nossos Valores</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Sed tempor nisi id eleifend pretium</li>
                        <li>Duis pellentesque dictum arcu</li>
                        <li>Non sollicitudin turpis hendrerit vel</li>
                    </ul>
                    
                    <h2>Nossa Equipe</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod mi a sapien aliquam efficitur. Fusce et aliquam elit.
                        Sed viverra augue ac felis pellentesque, ut cursus neque mattis. Praesent lobortis semper urna, vel sagittis turpis fringilla sed.
                        Nullam sollicitudin magna sit amet tellus efficitur, eget commodo leo auctor.
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>

    <footer class="footer mt-5">
        <div class="container">
            <p class="mb-0 text-center">
                &copy; 2023 barAABB. Todos os direitos reservados.
            </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>